$max-width-content: 1020px;
$mobile-start-width: 920px;
$transitionDefault: .2s ease;
//colors
$white: #ffffff;
$dark: #363636;
$black: #000000;
$accent: #92100d;
$accent-hover: #b7221e;
$grey: #7a7a7a;
$greyLight: #84908f;
$darkBlue: #062a45;
$darkLight: #464646;